In [54]:
import math
import itertools
import pandas as pd

## Create Documents

In [31]:
docA = "I love NLP"
docB = "Today I learnt NLP"
docC = "AI is the future"
docD = "I like Machine Learning"
docE = "I went to my university yesterday"
docs = [docA, docB, docC, docD, docE]

## Convert text into vectors of numbers
### Bag Of Words

In [7]:
bagOfWordsA = docA.split(" ")
bagOfWordsB = docB.split(" ")
bagOfWordsC = docC.split(" ")
bagOfWordsD = docD.split(" ")
bagOfWordsE = docE.split(" ")

### Remove duplicated words

In [8]:
bagOfWords = [bagOfWordsA, bagOfWordsB, bagOfWordsC, bagOfWordsD, bagOfWordsE]
words = set(itertools.chain(*bagOfWords))
words

{'AI',
 'I',
 'Learning',
 'Machine',
 'NLP',
 'Today',
 'future',
 'is',
 'learnt',
 'like',
 'love',
 'my',
 'the',
 'to',
 'university',
 'went',
 'yesterday'}

## Count the number of each word

### Store the number of words using dictionary

In [25]:
wordDictA = dict.fromkeys(words,0)
wordDictB = dict.fromkeys(words,0)
wordDictC = dict.fromkeys(words,0)
wordDictD = dict.fromkeys(words,0)
wordDictE = dict.fromkeys(words,0)
wordDict = [wordDictA,wordDictB, wordDictC, wordDictD, wordDictE]

In [21]:
def countWords(wordDict,bagOfWord):
    for w in bagOfWord:
        wordDict[w]+= 1
    return wordDict

In [29]:
for i in range(len(wordDict)):
    wordDict[i] = countWords(wordDict[i],bagOfWords[i])

## Calculate TF-IDF
### Calculate TF
TF = (num of the word w) / (num of total words)

In [30]:
def countTF(wordDict,bagOfWord):
    tfDict={}
    for word,count in wordDict.items():
        tfDict[word] = count/len(bagOfWord)
    return tfDict

In [53]:
tfA = countTF(wordDictA,bagOfWordsA)
tfB = countTF(wordDictB,bagOfWordsB)
tfC = countTF(wordDictC,bagOfWordsC)
tfD = countTF(wordDictD,bagOfWordsD)
tfE = countTF(wordDictE,bagOfWordsE)

### Calculate IDF
IDF = log((num of docs/(num of docs contains w + 1))

In [65]:
def calculateIDF(wordDict):
    idfDict=dict.fromkeys(wordDict[0],0)
    N = len(wordDict)
    for wd in wordDict:
        for w,i in wd.items():
            if i>0:
                idfDict[w] += 1 

    for word,num in idfDict.items():
        idfDict[word]= math.log(N/(num+1))
    
    return idfDict

In [66]:
idf = calculateIDF(wordDict)
idf

{'AI': 0.9162907318741551,
 'yesterday': 0.9162907318741551,
 'NLP': 0.5108256237659907,
 'university': 0.9162907318741551,
 'my': 0.9162907318741551,
 'like': 0.9162907318741551,
 'went': 0.9162907318741551,
 'Today': 0.9162907318741551,
 'the': 0.9162907318741551,
 'is': 0.9162907318741551,
 'I': 0.0,
 'learnt': 0.9162907318741551,
 'to': 0.9162907318741551,
 'future': 0.9162907318741551,
 'love': 0.9162907318741551,
 'Machine': 0.9162907318741551,
 'Learning': 0.9162907318741551}

### Calculate TF-IDF
TF-IDF = TF x IDF

In [67]:
def tfIdf(tf,idf):
    tfidf={}
    for word,num in tf.items():
        tfidf[word]= num * idf[word]
    return tfidf

In [68]:
tfidfA = tfIdf(tfA,idf)
tfidfB = tfIdf(tfB,idf)
tfidfC = tfIdf(tfC,idf)
tfidfD = tfIdf(tfD,idf)
tfidfE = tfIdf(tfE,idf)

tfidf = pd.DataFrame([tfidfA,tfidfB, tfidfC, tfidfD, tfidfE])
tfidf

,AI,yesterday,NLP,university,my,like,went,Today,the,is,I,learnt,to,future,love,Machine,Learning
0,0.000000,0.000000,0.510826,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.916291,0.000000,0.000000
1,0.000000,0.000000,0.383119,0.000000,0.000000,0.000000,0.000000,0.687218,0.000000,0.000000,0.0,0.687218,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.687218,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.687218,0.687218,0.0,0.000000,0.000000,0.687218,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.687218,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.687218,0.687218
4,0.000000,0.458145,0.000000,0.458145,0.458145,0.000000,0.458145,0.000000,0.000000,0.000000,0.0,0.000000,0.458145,0.000000,0.000000,0.000000,0.000000